.editor-container {
    position: relative;
    height: 100%;
    width: calc(100% - 10px);
}

.format-btn {
    position: absolute;
    z-index: 10;
    opacity: 0;
    transition: opacity 0.3s;
    top: 10px;
    right: 10px;
}

.editor-container:hover .format-btn {
    opacity: 1;
}